@* bookmarks_list Template File *@
@(param: Any)

@import bookmarks._
@import utils.fluid_two_columns_layout

@fluid_two_columns_layout(3, 9) {
	@*@link_form()*@
} {
	<form class="row-fluid">
		<fieldset>
      		<legend>Edit link</legend>

      		<div class="control-group">
         		<label class="control-label" for="link">Link</label>
         		<div class="controls">
            		<input ng-model="bookmark.link" type="text" class="input-xlarge">
         		</div>
      		</div>

			<div class="control-group">
         		<label class="control-label" for="title">Title</label>
         		<div class="controls">
            		<input ng-model="bookmark.title" type="text" class="input-xlarge">
         		</div>
      		</div>

      		<div class="control-group">
         		<label class="control-label" for="tags">Tags</label>
         		<div class="controls">
            		<input ng-model="bookmark.tags" type="text" class="input-xlarge">
            		<p class="help-block">Tags are separated by commas</p>
         		</div>
      		</div>

      		<div class="control-group">
         		<label class="control-label" for="description">Description</label>
         		<div class="controls">
            		<textarea ng-model="bookmark.description"></textarea>
         		</div>
      		</div>
      		
      		<div class="control-group">
         		<div class="controls">
            		@*<button id="save-link" name="save-link" class="btn btn-success" {{action 'create'}}>Save</button>*@
            		<a class="btn btn-inverse" href="#bookmarks">Back</a>
         		</div>
      		</div>
   		</fieldset>
	</form>
}