@* link_form Template File *@
@(param: Any)

<form class="row-fluid" novalidate>
   <fieldset>
      <legend>Add link</legend>

      <div class="control-group">
         <label class="control-label" for="link">Link</label>
         <div class="controls">
            <input ng-model="newBookmark.link" type="text" 
            	class="input-xlarge" placeholder="Add a new link" required>
         </div>
      </div>

      <div class="control-group">
         <label class="control-label" for="title">Title</label>
         <div class="controls">
            <input ng-model="newBookmark.title" type="text" class="input-xlarge" required>
         </div>
      </div>

      <div class="control-group">
         <label class="control-label" for="tags">Tags</label>
         <div class="controls">
            <input ng-model="newBookmark.tags" type="text" class="input-xlarge" placeholder="tags1, tags2, ...">
            <p class="help-block">Tags are separated by commas</p>
         </div>
      </div>

      <div class="control-group">
         <label class="control-label" for="description">Description</label>
         <div class="controls">
            <textarea ng-model="newBookmark.description"></textarea>
         </div>
      </div>

      <div class="control-group">
         <label class="control-label" for="save-link"></label>
         <div class="controls">
            <button id="save-link" name="save-link" 
            	class="btn btn-success"
            	ng-click="saveCreationForm()" ng-disabled="isUnchanged(newBookmark)">Save</button>
            <button id="reset-link" name="reset-link" 
            	class="btn btn-inverse" ng-click="resetCreationForm()" ng-disabled="isUnchanged(newBookmark)">Reset</button>
         </div>
      </div>
   </fieldset>
</form>