@(title: String)(appName: String)(content: Html)

<!DOCTYPE html>

<html lang="en" ng-app="@appName">
    <head>
		<meta charset="utf-8">

        <title>@title</title>

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")">

        <script src="@routes.Assets.at("javascripts/moment.js")" type="text/javascript"></script>
        
        <script src="@routes.Assets.at("javascripts/jquery.js")" type="text/javascript"></script>
        
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("javascripts/angular/angular.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/angular/angular-route.js")" type="text/javascript"></script>
        
        <script src="@routes.Assets.at("javascripts/bookmarks/application.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bookmarks/controllers.js")" type="text/javascript"></script>

    </head>
    <body>
        @content
    </body>
</html>